:root {
  /* Еда меню */
  --primary-color: #6d645a;
  --secandery-color: #f6f0e6;
  --warning-color: #a6763c;
  --active-icon-color:#dfc59780;
  --normal-icon-color:#eadabe;
  --hovered-icon-color:#dfc597;
  --dark : #1e1e1e !important;
  --brown : #433e38 !important;
  --green : #343a18 !important;
  --dark-green : #a6763c !important;
}