@import url(colors.css);

.mobile-menu {
  background-color: transparent !important;
}

button.has-warning-bg-c {
  width: auto;
}

.mobile-overlay {
  position: relative;
}

.mobile-overlay::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.442);
}

.sticky {
  position: fixed;
  top: 0;
  /* Additional styling for the sticky navbar */
  background-color: #333;
  color: #fff;
  /* Add any other styles you want */
}

.has-background-color {
  transition: all 500ms;
  background-color: var(--primary-color) !important;
}

@media screen and (max-width: 500px) {
  #navMenu {
    background-color: rgba(0, 0, 0, 0.373) !important;
  }
}
.w-70{
  width: 70%;
}
.h-500{
  height: 500px;
}
.w-75{
  width: 75% !important;
}
.pr-20{
  border-radius: 20px;
}
.main-container{
  position: relative;
  margin-top: -30px;
  border-radius: 30px !important;
  background-color: var(--secandery-color);
}
.m-15-n{
  margin-top: -15px;
}
.has-right-background {
  position: relative;
}

.has-right-background::after {
  display: block;
  content: '';
  width: 128px;
  overflow: hidden;
  height: 437px;
  background-image: url('assets/Vector.png');
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  margin-right: -50%;
  right: 50%;
  z-index: 10;
}
.g-20{
  column-gap: 20px !important;
}
img.mobile-overlay{
  width: 100%;
}