@import url(colors.css);

body {
  background-color: var(--dark) !important;
  font-family: "Bellota", system-ui !important;
}

.dark {
  background-color: var(--dark) !important;
}

.w-100 {
  width: 100% !important;
}

#lblCartCount {
  width: 17px !important;
  height: 17px !important;
  font-size: 12px;
  background: var(--warning-color);
  vertical-align: top;
  margin-left: -10px;
  margin-bottom: 28px;
  border-radius: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

.grid-item {
  align-self: center;
  justify-self: center;
  width: 100%;
}

.grid-item>img {
  width: 100%;
}

.description {
  width: 60%;
  margin: auto;
}

@media screen and (max-width:1023px) {

  #lblCartCount {
    text-align: center;
    padding: 0;
    font-size: 12px !important;
    margin-left: 14px;
    margin-top: -14px;
    margin-bottom: 0;
    height: 18px !important;
    width: 18px !important;
  }

  .navbar-burger.is-active span:nth-child(2) {
    transform: rotate(0) !important;
  }

  .hero-img {
    width: 406px;
    height: 253px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    border-radius: 20px !important;
  }

  .hidden-on-mobile {
    display: none !important;
  }

  .pt-0-mobile {
    padding-top: 0 !important;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-item {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 28px;
  }

  .grid-item:nth-child(1) {
    grid-row-start: 2;
  }

  .grid-item:nth-child(2) {
    grid-row-start: 1;
  }

  .grid-item:nth-child(3) {
    grid-row-start: 3;
  }

  .grid-item:nth-child(4) {
    grid-row-start: 4;
  }

  .grid-item:nth-child(5) {
    grid-row-start: 6;
  }

  .grid-item:nth-child(6) {
    grid-row-start: 5;
  }

  .grid-item>img {
    border-radius: 10px;
  }

  .description {
    width: 100%;
  }
}

.has-text-golden {
  color: var(--warning-color) !important;
}

body>section.hero.is-fullwidth.px-0>div.title.is-2.has-text-center.hidden-on-desktop.has-text-golden {
  margin-top: 90px;
}

.has-golden-border {
  border-color: var(--warning-color) !important;
}






swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}