@import url(colors.css);

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #7b552678;
  backdrop-filter: blur(7px);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 4;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}


 .right,
 .left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #dfc5979a;
  text-align: center;
}

 .left {
  right: 0;
  left: 20px;
}

 .right:hover,
.left:hover {
  color: #ffffff;
}

 .content {
  max-height: 30%;
  overflow: auto;
}



.br-20 {
  border-radius: 20px !important;
}


 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

 .close:hover {
  color: var(--warning-color);
}

.btn-active {
  color: var(--warning-color) !important;
}


@media screen and (min-width: 700px) and (max-width:1366) {
  .is-justify-content-space-between-on-lg {
    justify-content: space-between !important;
  }
}

@media screen and (min-width: 1367px) {
  .is-justify-content-center-on-xl {
    justify-content: center !important;
    column-gap: 40px !important;
  }
   
}

@media screen and (min-width: 800px) {
      .modal-card {
          width: 75%;
          border-radius: 20px;
        }
      
        .modal-card-head,
        .modal-card-foot {
          display: none;
        }
}
button.has-warning-bg-c{
  width: 100%;
}
@media screen and (min-width: 801px){
  .for-desktop{
    display: block !important;
  }
  .for-mobile{
    display: none !important;
  }
}
@media screen and (max-width: 800px){
  .left , .right{
    display: none;
  }
  .close {
     top: 100px;
     right: 90%;
     z-index: 1;
     transition: all 200ms;
   }
  .for-desktop {
      display: none !important;
    }
  .for-mobile{
    display: block !important;
  }
    #modal-js-example{
    margin-top: -40px !important;
    height: 120vh;
  }
}
.modal-background{
  background-color:rgba(166, 118, 60, 47%);
  backdrop-filter: blur(6px);
}
#modal-js-example>div.modal-card>section.modal-card-body.for-desktop>div>div.px-4.column.is-6-desktop.is-5-widescreen>div.has-text-center>button{
  width: 100%;
}
.desktop-popup-img{
width: 630px;
height: 500px;
}
.h-100{
height: 100%;
}
.for-desktop > .columns > .column {
  width: 50%;
}
.mobile-menu {
  background: transparent !important;
}

button.has-warning-bg-c {
  width: auto;
}

.mobile-overlay {
  position: relative;
}

.mobile-overlay::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.442);
}


.nav-title{
  margin-top: 65px !important;
}
.has-background-color {
  transition: all 500ms;
  background-color: var(--primary-color) !important;
}

@media screen and (max-width: 500px) {
  #navMenu {
    background-color: rgba(0, 0, 0, 0.373) !important;
  }
  .ml-8-mobile{
    margin-left: 8px !important;
  }
}

.w-70 {
  width: 70%;
}

.h-500 {
  height: 500px;
}

.w-75 {
  width: 75% !important;
}

.pr-20 {
  border-radius: 20px;
}

.main-container {
  position: relative;
  margin-top: -30px;
  border-radius: 30px !important;
  background-color: var(--secandery-color);
}

.m-15-n {
  margin-top: -15px;
}

.has-right-background {
  position: relative;
}

.has-right-background::after {
  display: block;
  content: '';
  width: 128px;
  overflow: hidden;
  height: 437px;
  background-image: url('assets/images/Vector.png');
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  margin-right: -50%;
  right: 50%;
  z-index: 10;
}

.g-20 {
  column-gap: 20px !important;
}

img.mobile-overlay {
  width: 100%;
}