@import url(colors.css);

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #7b552678;
  backdrop-filter: blur(7px);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 4;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.right,
.left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #dfc5979a;
  text-align: center;
}

.left {
  right: 0;
  left: 20px;
}

.right:hover,
.left:hover {
  color: #ffffff;
}

.content {
  max-height: 30%;
  overflow: auto;
}


.br-20 {
  border-radius: 20px !important;
}


.close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff !important;
  background-color: var(--warning-color);
}

.close:hover {
  color: var(--warning-color);
}

.btn-active {
  color: var(--warning-color) !important;
}


@media screen and (min-width: 700px) and (max-width: 1366px) {
  .is-justify-content-space-between-on-lg {
    justify-content: space-between !important;
  }
}

@media screen and (min-width: 1367px) {
  .is-justify-content-center-on-xl {
    justify-content: center !important;
    column-gap: 40px !important;
  }

}

@media screen and (min-width: 800px) {
  .modal-card {
    width: 75%;
    border-radius: 20px;
  }

  .modal-card-head,
  .modal-card-foot {
    display: none;
  }
}

button.has-warning-bg-c {
  width: 100%;
}

.modal-card-body.for-desktop button.has-warning-bg-c {
  width: 100% !important;
}

@media screen and (min-width: 801px) {
  .for-mobile {
    display: none !important;
  }
}

@media screen and (max-width: 800px) {
  #modal-js-example>div.modal-card>section.card-body-body.for-mobile>div>div>div.mt-5.pb-5>button {
    margin-left: 6px;
  }

  .left,
  .right {
    display: none;
  }

  .close {
    top: 52%;
    right: 6%;
    z-index: 1;
  }

  .for-desktop {
    display: none !important;
  }

  #modal-js-example .modal-card {
    max-height: unset;
  }

  .for-mobile>img {
    height: calc(100vh - 430px);
    object-fit: cover;
  }
}

.modal-background {
  background-color: rgba(166, 118, 60, 47%);
  backdrop-filter: blur(6px);
}

#modal-js-example>div.modal-card>section.modal-card-body.for-desktop>div>div.px-4.column.is-6-desktop.is-5-widescreen>div.has-text-center>button {
  width: 100%;
}

.desktop-popup-img {
  width: 630px;
  height: 500px;
}

.h-100 {
  height: 100%;
}

.for-desktop>.columns>.column {
  width: 50%;
}

.mobile-menu {
  background: rgba(0, 0, 0, 0.373);
}

button.has-warning-bg-c {
  width: auto;
}

.mobile-overlay {
  position: relative;
}

.mobile-overlay::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.442);
}

.hide-body-element {
  height: 100vh;
  overflow: hidden;
}

.nav-title {
  margin-top: 70px !important;
}

.has-background-color {
  transition: all 500ms;
  background-color: var(--primary-color) !important;
}

@media screen and (max-width: 500px) {
  .d-none {
    display: none !important;
  }

  .overlay-mobile-menu {
    background-color: rgba(0, 0, 0, 0.373) !important;
  }


  .ml-8-mobile {
    margin-left: 8px !important;
  }
}

.w-70 {
  width: 70%;
}

.h-500 {
  height: 500px;
}

.w-75 {
  width: 75% !important;
}

.pr-20 {
  border-radius: 20px;
}

.main-container {
  position: relative;
  margin-top: -30px;
  border-radius: 30px 30px 0 0 !important;
  background-color: var(--secandery-color);
}

.m-15-n {
  margin-top: -15px;
}

.has-right-background {
  position: relative;
}

.has-right-background::after {
  display: block;
  content: '';
  width: 128px;
  overflow: hidden;
  height: 437px;
  background-image: url('../Vector.png');
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  margin-right: -50%;
  right: 50%;
  z-index: 10;
}

.has-gap {
  gap: 30px !important;
}

.g-20 {
  column-gap: 20px !important;
}

img.mobile-overlay {
  width: 100%;
}

/* Slide up animation for mobile */
@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Slide down animation for mobile */
@keyframes slide-down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

/* Fade in animation for desktop */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Fade out animation for desktop */
@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Apply the animations to the modal */
.modal {
  animation: slide-down 0.5s ease-out forwards;
}

.modal.is-active {
  animation: slide-up 0.5s ease-out forwards;
}

@media (min-width: 1020px) {
  .modal {
    animation: fade-out 0.5s ease-out forwards;
  }

  .modal.is-active {
    animation: fade-in 0.5s ease-out forwards;
  }
}