:root {
  --bulma-body-background-color: var(--secandery-color);
  --secondary-color: var(--secandery-color)
}

.has-text-secondary {
  color: var(--secondary-color) !important;
}

.has-text-dark {
  color: var(--dark);
}

.navbar {
  --bulma-navbar-background-color: transparent;
  backdrop-filter: blur(0px);
  align-items: center;
  transform: translateY(30px) !important;
  transition: all 500ms !important;
}

#navMenu>div>a {
  transition: none;
}

#navMenu>div>a:hover {
  transition: all 200ms;
}

.blur {
  backdrop-filter: blur(15px);
  margin-top: 0;
  transform: translateY(0) !important;
  transition: all 500ms !important;
}

#lblCartCount {
  width: 17px !important;
  height: 17px !important;
  font-size: 12px;
  background: #a6763c84;
  color: white !important;
  vertical-align: top;
  margin-left: -10px;
  margin-bottom: 28px;
  border-radius: 50%;
}

.navbar .navbar-item {
  color: black !important;
}

.navbar-burger {
  color: black;
}


.darken-background {
  background: rgba(0, 0, 0, 0.678) !important;
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
  background-image: url('../images/home/hero/mobile/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.22);
  pointer-events: none;
}

.hero::before,
.hero::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  pointer-events: none;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  bottom: 0;
  z-index: 2;
}

.hero::before {
  top: 0;
  background-image: url('../images/home/hero/mobile/top-clouds.png');
  background-position-y: -100%;
  animation-name: move-down;
}

.has-bga {
  background-color: #1e1e1e7e;
  border-color: transparent;
}

@media screen and (max-width: 1023px) {
  #lblCartCount {
    text-align: center;
    padding: 0;
    font-size: 12px !important;
    margin-left: 14px;
    margin-top: -14px;
    margin-bottom: 0;
    height: 16px !important;
    width: 16px !important;
  }
}

@keyframes move-down {
  to {
    background-position-y: top;
  }
}

.hero::after {
  bottom: -1px;
  background-image: url('../images/home/hero/mobile/bottom-clouds.png');
  background-position-y: 200%;
  animation-name: move-up;
}

@keyframes move-up {
  to {
    background-position-y: 120%;
  }
}


.hero .hero-body {
  padding-top: 164px;
}

.hero .hero-body .hero-logo {
  width: 100%;
  max-width: 350px;
  filter: drop-shadow(0 0 20px var(--brown));
}

.button.is-circle {
  border-radius: 50%;
}

.hero .button.show-more-button {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0 rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.hero+section::before {
  content: '';
  display: block;
  height: 80px;
  width: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  pointer-events: none;
  background-image: url(../images/home/hero/mobile/bottom-clouds.png);
  background-position-y: 90%;
}

/* ABOUT */
.about-images .column {
  position: relative;
  scale: 1.4;
}

.about-images .column .image {
  box-shadow: -16px 4px 30px rgba(0, 0, 0, 0.25);
}

.about-images .column .image img {
  object-fit: cover;
}


.about-images .column:nth-child(1) {
  left: -25px;
}

.about-images .column:nth-child(2) {
  z-index: 10;
  top: 60px;
}

.about-images .column:nth-child(3) {
  left: 25px;
}

.py-100 {
  padding-top: 200px;
  padding-bottom: 200px;
}

#delivery {
  position: relative;
}

#delivery .button.is-primary {
  background-color: var(--warning-color);
  color: white;
}

#delivery .order-now-btn {
  max-width: 250px;
  min-height: 60px;
}

#delivery .background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -70px;
  --start-transparent: 0%;
  --start-brown: 5%;
  --start-transparent-2: 40%;
  --start-gold: 46%;
  --start-transparent-3: 54%;
  --end-gradient: 100%;

  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0) var(--start-transparent),
      rgba(0, 0, 0, 0) var(--start-brown),
      rgba(166, 118, 60, 1) var(--start-brown),
      rgba(166, 118, 60, 1) var(--start-transparent-2),
      rgba(160, 121, 67, 0) var(--start-transparent-2),
      rgba(144, 109, 60, 0) var(--start-gold),
      rgba(223, 197, 151, 1) var(--start-gold),
      rgba(223, 197, 151, 1) var(--start-transparent-3),
      rgba(218, 193, 148, 0) var(--start-transparent-3),
      rgba(0, 0, 0, 0) var(--end-gradient));
  transform: rotate(90deg) scaleX(-1);
}

#delivery .dishes::-webkit-scrollbar {
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
  .navbar {
    height: 70px;
  }

  .hero {
    background-image: url('../images/home/hero/hero.webp');
  }

  .hero .hero-body .hero-logo {
    max-width: 350px;
  }

  .hero::before {
    background-image: url('../images/home/hero/top-clouds.png');
    background-size: 250%;
    background-position-y: 100%;
    animation-name: move-up;
  }

  .hero::after {
    background-image: url('../images/home/hero/bottom-clouds.png');
    background-position-y: 100%;
    animation-name: move-down;
  }

  .hero .button.show-more-button {
    bottom: 10%;
  }

  .hero+section::before {
    background-image: none;
  }

  /* ABOUT */
  #about {
    position: relative;
  }

  #about .lines {
    --offset: 20%;
  }

  #about .lines::before,
  #about .lines::after {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--warning-color);
    top: 0
  }

  #about .lines::before {
    left: var(--offset);
  }

  #about .lines::after {
    right: var(--offset);
  }

  .about-images {
    justify-content: space-around;
  }

  .about-images::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--warning-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: expand 0.7s 2s ease forwards;
  }

  @keyframes expand {
    to {
      width: 80%;
    }
  }

  .about-images .column {
    position: static;
    scale: 1;
  }

  .title.is-size-96-desktop {
    font-size: 6rem;
  }

  #services .swiper {
    width: inherit;
    height: 100%;
  }

  #services .swiper .swiper-slide {
    height: 430px;
    width: 314px;
  }

  .h-100 {
    height: 100%;
  }

  #delivery .background {
    transform: scaleX(-.4);
    top: 0;
    right: 0;
    --start-transparent: 0%;
    --start-brown: 0;
    --start-transparent-2: 65%;
    --start-gold: 80%;
    --start-transparent-3: 100%;
    --end-gradient: 100%;
    width: 600px;
    margin-left: -300px;
  }

  footer>div.container {
    max-width: 69% !important;
    justify-content: space-between !important;
  }

  @keyframes move-down {
    to {
      background-position-y: 120%;
    }
  }

  @keyframes move-up {
    to {
      transform: translate(-50%, -70%);
    }
  }
}

@media screen and (min-width: 1408px) {
  .hero .hero-body .hero-logo {
    max-width: 750px;
  }

  .column:has(> .dishes) {
    height: 10px;
  }

  .dishes {
    position: relative;
    top: -280px;
  }

  @keyframes move-down {
    to {
      background-position-y: 120%;
    }
  }
}


@media screen and (min-width: 1023px) and (max-width: 1920px) {
  footer .container {
    max-width: 88% !important;
    justify-content: space-between !important;
  }
}

/* slider */
#services {
  /* background-color: var(--warning-color); */
  border-radius: 5px;
  padding: 20px;
}

.container-gallery {
  position: relative;
  overflow: hidden;
  height: 100vh;
  max-width: 100vw;
  margin: auto;
  border-radius: 25px;
  z-index: 1;
  padding-bottom: 20px;
}

.card::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: '';
  display: block;
  background-color: rgba(0, 0, 0, 0.432) !important;
  border-radius: 10px;
}
.card:first-of-type::before{
  border-radius: 24px;
}
.card {
  position: absolute;
  left: 0;
  top: 40px;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}

#btn {
  position: absolute;
  top: 690px;
  left: 16px;
  z-index: 99;
}

.card-content {
  position: absolute;
  left: 0;
  top: 10%;
  color: #fff;
  padding-left: 16px;
}

@media screen and (max-width:700px) {
  .card-content {
    top: 11%;
  }
}

@media screen and (min-width:1024px) and (max-width:1366px) {
  .card-content {
    top: 12%;
  }

  .details>.desc {
    width: 33% !important;
  }
}

.content-place {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 500;
}

.content-place {
  font-weight: 500;
}

.content-title-1,
.content-title-2 {
  font-weight: 600;
  font-size: 20px;
  color: white;
}

.title-1,
.title-2 {
  color: white;
}

div.title-box-1>div::after {
  width: 20%;
  display: block;
  height: 2px;
  content: '';
  background-color: var(--warning-color);
}

.content-start {
  width: 30px;
  height: 5px;
  border-radius: 99px;
  background-color: #fff;
}

.details {
  z-index: 22;
  position: absolute;
  top: 240px;
  left: 60px;
}

.details .place-box {
  height: 46px;
  overflow: hidden;
}

.details .place-box .text {
  padding-top: 16px;
  font-size: 20px;
}


.details .title-1,
.details .title-2 {
  font-weight: 600;
  font-size: 62px;
}

.details .title-box-1,
.details .title-box-2 {
  margin-top: 2px;
  height: 100px;
  overflow: hidden;
}

.details>.desc {
  margin-top: 16px;
  width: 50%;
}

.details>.cta {
  width: 50%;
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.details>.cta>.bookmark {
  border: none;
  background-color: #ff0000;
  width: 36px;
  height: 36px;
  border-radius: 99px;
  color: white;
  display: grid;
  place-items: center;
}

.details>.cta>.star {
  border: none;
  background-color: #ffbf00;
  width: 36px;
  height: 36px;
  border-radius: 99px;
  color: white;
  display: grid;
  place-items: center;
}

.details>.cta>.bookmark svg {
  width: 20px;
  height: 20px;
}

.details>.cta>.discover {
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 25px;
  color: #ffffff;
  padding: 20px 40px;
  font-size: 20px;
  margin-left: 16px;
  text-transform: uppercase;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 36px;
  font-weight: 500;
}

nav svg {
  width: 20px;
  height: 20px;
}

nav .svg-container {
  width: 20px;
  height: 20px;
}

nav>div {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
}

nav>div:first-child {
  gap: 10px;
}

nav>div:last-child {
  gap: 24px;
}

nav>div:last-child>.active {
  position: relative;
}

nav>div:last-child>.active:after {
  bottom: -8px;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  height: 3px;
  border-radius: 99px;
  background-color: #fff;
}

.pagination {
  position: absolute;
  left: 0px;
  top: 0px;
  display: inline-flex;
  margin-top: 35px !important;
}

.pagination>.arrow {
  z-index: 60;
  width: 50px;
  height: 50px;
  border-radius: 999px;
  border: 2px solid #fff;
  display: grid;
  place-items: center;
}

.pagination>.arrow:nth-child(1) {
  margin-left: 600px;
}

.pagination>.arrow:nth-child(2) {
  margin-left: 40px;
}


.pagination>.arrow svg {
  width: 24px;
  height: 24px;
  stroke-width: 2;
  color: #fff;
}


.cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 100;
}

.desc {
  backdrop-filter: blur(15px);
  border-radius: 25px;
  background-color: rgba(255, 255, 255, .18);
  padding: 20px;
  color: white;
}

@media screen and (max-width: 700px) {
  .details>.desc {
    width: 30%;
  }

  .details .title-1,
  .details .title-2 {
    font-size: 50px;
  }
}

@media screen and (max-width: 700px) {
  .details>.desc {
    width: 100%;
  }

  .details {
    top: 0;
    left: 0;
  }

  .details>.cta>.discover {
    padding: 10px 20px;
    font-size: 14px;
    margin-top: 20px;
  }

  div.title-box-1>div::after {
    width: 60%;
  }

  .details>.cta {
    margin-top: 5px !important;
  }
.navbar{
  padding: 0;
}
}