:root {
  --bulma-body-background-color: var(--secandery-color);
  --secondary-color: var(--secandery-color)
}

.has-text-secondary {
  color: var(--secondary-color) !important;
}

.has-text-dark {
  color: var(--dark);
}

.navbar {
  --bulma-navbar-background-color: transparent;
}

#lblCartCount {
  width: 17px !important;
  height: 17px !important;
  font-size: 12px;
  background: var(--warning-color);
  vertical-align: top;
  margin-left: -10px;
  margin-bottom: 28px;
  border-radius: 50%;
}

.navbar .navbar-item {
  color: var(--dark) !important;
}

.navbar-burger {
  color: var(--dark);
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
  background-image: url('../images/home/hero/mobile/hero.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero::before, .hero::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  pointer-events: none;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.hero::before {
  top: 0;
  background-image: url('../images/home/hero/mobile/top-clouds.png');
  background-position-y: -100%;
  animation-name: move-down;
}

@media screen and (max-width: 1023px) {
  #lblCartCount {
    text-align: center;
    padding: 0;
    font-size: 12px !important;
    margin-left: 14px;
    margin-top: -14px;
    margin-bottom: 0;
    height: 16px !important;
    width: 16px !important;
  }
}

@keyframes move-down {
  to {
    background-position-y: top;
  }
}

.hero::after {
  bottom: -1px;
  background-image: url('../images/home/hero/mobile/bottom-clouds.png');
  background-position-y: 200%;
  animation-name: move-up;
}

@keyframes move-up {
  to {
    background-position-y: 120%;
  }
}


.hero .hero-body {
  padding-top: 164px;
}

.hero .hero-body .hero-logo {
  width: 100%;
  max-width: 350px;
  filter: drop-shadow(0 0 20px var(--brown));
}

.button.is-circle {
  border-radius: 50%;
}

.hero .button.show-more-button {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.hero + section::before {
  content: '';
  display: block;
  height: 80px;
  width: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  pointer-events: none;
  background-image: url(../images/home/hero/mobile/bottom-clouds.png);
  background-position-y: 90%;
}

/* ABOUT */
.about-images .column {
  position: relative;
  scale: 1.4;
}

.about-images .column .image {
  box-shadow: -16px 4px 30px rgba(0, 0, 0, 0.25);
}

.about-images .column .image img {
  object-fit: cover;
}


.about-images .column:nth-child(1) {
  left: -25px;
}

.about-images .column:nth-child(2) {
  z-index: 10;
  top: 60px;
}

.about-images .column:nth-child(3) {
  left: 25px;
}

/* SERVICES SLIDER */
#services {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background-image .7s ease-in-out;
}

#services::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}

#services .is-position-relative {
  z-index: 10;
}

#services .swiper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 350px;
  padding-bottom: 100px;
  --swiper-navigation-top-offset: 85%;
  --swiper-navigation-color: 'white';
  --swiper-navigation-size: 46px;
}

#services .swiper .swiper-button-next svg,
#services .swiper .swiper-button-prev svg {
  width: unset;
  height: unset;
}

#services .swiper .swiper-button-next,
#services .swiper .swiper-button-prev {
  border-radius: 50%;
  border: currentColor solid 2px;
  width: 46px;
  height: 46px;
}

#services .swiper .swiper-button-prev,
#services .swiper .swiper-rtl .swiper-button-next {
  right: 88px;
  left: auto;
}

#services .swiper .swiper-button-next,
#services .swiper .swiper-rtl .swiper-button-prev {
  right: 20px;
  left: auto;
}

#services .swiper .swiper-button-next::after,
#services .swiper .swiper-button-prev::after {
  content: '';
  display: none;
}

#services .swiper .swiper-slide {
  width: 40%;
  border-radius: 10px;
  padding: 5px;
  background-color: color-mix(in srgb, var(--light) 80%, transparent);
}

#services .swiper .swiper-slide .image img {
  object-fit: cover;
  border-radius: 10px;
}

#services .description {
  backdrop-filter: blur(14px);
  border-radius: 25px;
  background-color: rgba(255, 255, 255, .18)
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

#delivery {
  position: relative;
}

#delivery .button.is-primary {
  background-color: var(--warning-color);
  color: white;
}

#delivery .order-now-btn {
  max-width: 250px;
  min-height: 60px;
}

#delivery .background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -70px;
  --start-transparent: 0%;
  --start-brown: 5%;
  --start-transparent-2: 40%;
  --start-gold: 46%;
  --start-transparent-3: 54%;
  --end-gradient: 100%;

  background: linear-gradient(90deg,
  rgba(0, 0, 0, 0) var(--start-transparent),
  rgba(0, 0, 0, 0) var(--start-brown),
  rgba(166, 118, 60, 1) var(--start-brown),
  rgba(166, 118, 60, 1) var(--start-transparent-2),
  rgba(160, 121, 67, 0) var(--start-transparent-2),
  rgba(144, 109, 60, 0) var(--start-gold),
  rgba(223, 197, 151, 1) var(--start-gold),
  rgba(223, 197, 151, 1) var(--start-transparent-3),
  rgba(218, 193, 148, 0) var(--start-transparent-3),
  rgba(0, 0, 0, 0) var(--end-gradient)
  );
  transform: rotate(90deg) scaleX(-1);
}

#delivery .dishes::-webkit-scrollbar {
  background-color: transparent;
}

@media screen and (min-width: 1216px) {
  .hero {
    background-image: url('../images/home/hero/hero.webp');
  }

  .hero .hero-body .hero-logo {
    max-width: 350px;
  }

  .hero::before {
    background-image: url('../images/home/hero/top-clouds.png');
    background-size: 250%;
    background-position-y: 100%;
    animation-name: move-up;
  }

  .hero::after {
    background-image: url('../images/home/hero/bottom-clouds.png');
    background-position-y: 100%;
    animation-name: move-down;
  }

  .hero .button.show-more-button {
    bottom: 10%;
  }

  .hero + section::before {
    background-image: none;
  }

  /* ABOUT */
  #about {
    position: relative;
  }

  #about .lines {
    --offset: 10%;
  }

  #about .lines::before,
  #about .lines::after {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--warning-color);
    top: 0
  }

  #about .lines::before {
    left: var(--offset);
  }

  #about .lines::after {
    right: var(--offset);
  }

  .about-images {
    justify-content: space-around;
  }

  .about-images::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--warning-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: expand 0.7s 2s ease forwards;
  }

  @keyframes expand {
    to {
      width: 80%;
    }
  }

  .about-images .column {
    position: static;
    scale: 1;
  }

  .title.is-size-96-desktop {
    font-size: 6rem;
  }

  #services .swiper {
    width: inherit;
    height: 100%;
  }

  #services .swiper .swiper-slide {
    height: 430px;
    width: 314px;
  }

  .h-100 {
    height: 100%;
  }

  #delivery .background {
    transform: scaleX(-.4);
    top: 0;
    right: -320px;
  }

  footer > div.container {
    max-width: 69% !important;
    justify-content: space-between !important;
  }

  @keyframes move-down {
    to {
      background-position-y: 120%;
    }
  }

  @keyframes move-up {
    to {
      background-position-y: 155%;
    }
  }
}

@media screen and (min-width: 1408px) {
  .hero .hero-body .hero-logo {
    max-width: 750px;
  }

  .column:has(> .dishes) {
    height: 10px;
  }

  .dishes {
    position: relative;
    top: -280px;
  }

  @keyframes move-down {
    to {
      background-position-y: 120%;
    }
  }

  @keyframes move-up {
    to {
      background-position-y: 230%;
    }
  }
}

@media screen and (min-width: 1600px) {
  @keyframes move-up {
    to {
      background-position-y: 160%;
    }
  }
}

@media screen and (min-width: 1023px) and (max-width: 1920px) {
  footer .container {
    max-width: 88% !important;
    justify-content: space-between !important;
  }
}
