@import url(colors.css);

body {
  background-color: var(--purple) !important;
  font-family: "Bellota", system-ui !important;
}

.has-background-color {
  background-color: var(--purple-darken);
}

#lblCartCount {
  width: 17px !important;
  height: 17px !important;
  font-size: 12px;
  background: var(--warning-color);
  vertical-align: top;
  margin-left: -10px;
  margin-bottom: 28px;
  border-radius: 50%;
}

@media screen and (min-width: 1367px) {
  .is-justify-content-center-on-xl {
    justify-content: center !important;
    column-gap: 40px !important;
  }
}

.has-text-green {
  color: var(--dark-green) !important;
}

.right {
  border-radius: 10px 100px 10px 10px;

}

.left {
  border-radius: 10px 100px 10px 100px;

}

.div-left {
  align-self: flex-end;
  position: relative;
  left: 10%;
}

.div-right {
  position: relative;
  z-index: 1;
}

.has-border-bottom::after {
  display: block;
  content: '';
  width: 65%;
  margin: 14px 0 40px 0;
  border-bottom: solid 1px var(--warning-color);
}

.img-has-border {
  border-radius: 20px;
  position: relative;
  width: 480px;
  height: 470px;
}

.w-70 {
  width: 70%;
}

.img-has-border>img {
  width: 480px;
  height: 470px;
  position: relative;
  z-index: 1;
}

.img-has-border::after {
  display: block;
  content: '';
  position: absolute;
  top: -47px;
  bottom: 33px;
  left: -49px;
  right: 33px;
  border-radius: 50px;
  border: solid 1px white;
}

.br-50 {
  border-radius: 50px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
  color: white;
}

.swiper-button-next,
.swiper-button-prev {
  width: 57px;
  top: 94%;
  left: 75%;
}

.swiper-button-next {
  left: 85%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}

.swiper-pagination-bullet {
  background-color: white;
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet-active {
  background-color: var(--warning-color) !important;
}

.mySwiper {
  height: 480px;
}

.swiper-wrapper {
  height: 400px;
}

.swiper-slide:first-of-type {
  width: 83px !important;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: 30%;
}

@media screen and (min-width: 1216px) {
  nav>div.container:not(.is-max-desktop) {
    max-width: 1090px !important;
  }
}

@media screen and (min-width:1024px) and (max-width:1440px) {
  .div-left {
    top: -18% !important;
  }
}

@media screen and (max-width:1023px) {
  body>section.hero.mt-6.pt-6.is-fullwidth.is-clipped>div>div>div.column.is-7.is-12-mobile.is-flex.is-flex-direction-row-reverse {
    display: block !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 22px;
  }

  .swiper-slide:first-of-type {
    display: none;
  }

  .img-has-border {
    width: auto;
    height: auto;
  }

  .img-has-border>img {
    width: 340px;
    height: 334px;
  }

  .on-mobile-w240 {
    width: 240px !important;
  }

  .pt-80 {
    padding-top: 80px;
  }

  .img-has-border::after {
    width: 340px;
    height: 334px;
    display: block;
    content: '';
    position: absolute;
    top: -45px;
    left: -19px;
    border-radius: 50px;
    border: solid 1px white;
  }

  .l-10 {
    position: relative;
    left: 10px;
  }

  .mt-n-38 {
    margin-top: -38%;
  }

  .div-left {
    position: relative;
    left: -25%;
    width: 240px !important;
    height: 240px !important;
  }

  .left {
    border-radius: 10px 10px 10px 100px;
  }

  .div-right {

    position: relative;
    left: 27%;
    width: 240px !important;
    height: 240px !important;
  }

  .img-container {
    flex-direction: column !important;
    height: 415px;
  }

  .nav-custom-item {
    position: relative;
    left: 26vw;
  }

  .img-has-border::after {
    width: 83vw;
  }

  .navbar {
    padding-right: 24px !important;
    padding-left: 24px !important;
  }

  #lblCartCount {
    text-align: center;
    padding: 0;
    font-size: 12px !important;
    margin-left: 14px;
    margin-top: -14px;
    margin-bottom: 0;
    height: 18px !important;
    width: 18px !important;
  }

  .pt-0-mobile {
    padding-top: 0 !important;
  }

  .for-desktop {
    display: none;
  }

  .mt-0-mobile {
    margin-top: 0 !important;
  }

  .pb-0-mobile {
    padding-bottom: 0 !important;
  }

  .mb-0-mobile {
    margin-bottom: 0 !important;
  }

  .my-0-mobile {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  .py-0-mobile {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .ml-0-mobile {
    margin-left: 0 !important;
  }

  .mt-46-mobile {
    margin-top: 46px !important;
  }

  .mt-64-mobile {
    margin-top: 46px !important;
  }

  .mb-42-mobile {
    margin-bottom: 42px !important;
  }

  .last-title {
    margin-top: 50px;
  }

  .mb-68-mobile {
    margin-bottom: 68px !important;
  }

  .is-reverse-on-mobile {
    display: flex;
    flex-direction: column-reverse;
  }

  .hidden-on-mobile {
    display: none !important;
  }

  .pt-0-mobile {
    padding-top: 0 !important;
  }

  .fs-24-mobile {
    font-size: 24px !important;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 50% !important;
  }

  .swiper-pagination-bullet {
    background-color: white;
    width: 10px !important;
    height: 10px !important;
  }

  .swiper-button-prev {
    left: 75%;
  }
}

/* Add this CSS for the modal */
.modal {
  display: none;
  transition: all 200ms ease-in-out;
  opacity: 0;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #4d2a56be;
  z-index: 100;
}

.box {
  position: relative;
  max-width: 69%;
  margin: auto;
}

.box::before,
.box::after {
  display: block;
  content: '';
  position: absolute;
  width: 162px;
  height: 162px;
  border: solid 1px var(--warning-color);
  border-radius: 50%;
}

.has-side-circule {
  position: relative;
  z-index: 1;
}

.has-side-circule::after {
  display: block;
  content: '';
  position: absolute;
  width: 162px;
  height: 162px;
  border: solid 1px var(--warning-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: calc(-162px / 2);
}

.box::before {
  bottom: -70px;
  left: -115px;
}

.box::after {
  right: -115px;
  top: -70px;
}

.has-side-background::after {
  display: block;
  content: '';
  width: 407px;
  height: 100%;
  background-image: url('../larg-side-bg.png');
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  margin-left: -35%;
  left: 25%;
}

.phone-link {
  color: white;
  position: relative;
  text-decoration: none;
}

.has-text-gray {
  color: #433e38;
  transition: all 200ms;
}

.phone-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.phone-link:hover::after {
  transform: scaleX(0);
  transform-origin: bottom left;
}

@media screen and (min-width:1023px) and (max-width:1920px) {

  .has-ciecule::before {
    margin-left: -7vw;
    width: 162px;
    height: 162px;
  }

  .box::before,
  .box::after {
    width: 100px;
    height: 100px;

  }

  .box::before {
    bottom: -45px;
    left: -70px;
  }

  .box::after {
    right: -70px;
    top: -45px;
  }
}

@media screen and (max-width:1023px) {
  .contact span.has-text-weight-bold {
    display: block;
  }

  .contact .block-on-mobile {
    display: block;
    height: 25px;
  }

  .box {
    max-width: 100%;
    padding-top: 80px !important;
    padding-bottom: 150px !important;
  }

  .box::before,
  .box::after {
    width: 70px;
    height: 70px;
  }

  .box::before {
    bottom: -25px;
    left: -50px;
  }

  .box::after {
    right: -50px;
    top: -25px;
  }

  .has-side-circule::after {
    display: none;
  }
}

.has-padding-left {
  padding-left: 83px;
}

@media screen and (max-width:700px) {
  .has-padding-left {
    padding-left: 58px;
  }
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  transition: all 200ms ease-in-out;
  max-width: 40%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .modal-content {
    max-width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 480px) {
  .modal-content {
    width: 100%;
  }
}