@import url(colors.css);

body {
  background-color: var(--ligh-gray) !important;
  font-family: "Bellota", system-ui !important;
}

.has-background-color {
  background-color: var(--gray) !important;
}

#lblCartCount {
  width: 17px !important;
  height: 17px !important;
  font-size: 12px;
  background: var(--warning-color);
  vertical-align: top;
  margin-left: -10px;
  margin-bottom: 28px;
  border-radius: 50%;
}

body>section.section.py-6.py-0-mobile.mt-46-mobile.my-0-mobile.my-6>div>div:nth-child(1)>div {
  font-size: 24px !important;
}

.horo-title {
  margin-top: 126px;
  margin-bottom: 90px;
}

.img-icon {
  width: 162px;
  height: 162px;
  border-radius: 50%;
  /* background-color: red; */
  background-image: url('../sr-badge.png');
  /* background-color: #dfc597; */
  position: absolute;
  top: calc(-162px / 2);
  right: 10VW;
}

.img-icon::after {
  display: block;
  content: '';
  width: 113px;
  height: 98px;
  background-image: url('../darken-logo.svg');
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body>section>div.is-relative>img {
  width: 100%;
}

.has-ciecule::before {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  margin-left: -6vw;
  transform: translateY(-50%);
  width: 162px;
  height: 162px;
  border: solid 1px var(--warning-color);
  border-radius: 50%;
}

.card {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  background-color: #f6f0e6;
}

.card-content {
  height: 175px;
}

.navbar {
  padding-right: 24px !important;
  padding-left: 24px !important;
}

.card-background {
  height: 382px;
  background-position: center;
  background-image: url('../rcard.png');
  border-radius: 20px 20px 0 0;
  background-size: cover;
  position: relative;
}

.card-2 {
  background-image: url('../rcard-2.png');
}

.card-background::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  background-color: rgba(0, 0, 0, 0.202) !important;
}

.card-3 {
  background-image: url('../rcard-3.png');
}

.has-border-top {
  position: relative;
  top: 50px;
  width: 100%;
  margin: auto;
}

.has-border-top::before {
  display: block;
  content: '';
  height: 2px;
  width: 85%;
  margin: auto;
  background-color: var(--hovered-icon-color);
  margin-bottom: 30px;
}

.fs-20 {
  font-size: 20px !important;
}

.fs-32 {
  font-size: 32px !important;
}

.fs-36 {
  font-size: 36px !important;
}

.has-border-bottom::after {
  display: block;
  content: '';
  width: 65%;
  margin: 14px 0 40px 0;
  border-bottom: solid 1px var(--warning-color);
}

.img-has-border {
  border-radius: 20px;
  position: relative;
}

.img-has-border>img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.img-has-border::after {
  display: block;
  content: '';
  position: absolute;
  top: -33px;
  bottom: 33px;
  left: 33px;
  right: -33px;
  border-radius: 20px;
  border: solid 1px var(--warning-color);
}

.has-text-gray {
  color: #433e38;
}

ul {
  width: 50%;
  margin: auto;
  text-align: left;
}
.phone-link {
  color: black;
  position: relative;
  text-decoration: none;
}

.phone-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.phone-link:hover::after {
  transform: scaleX(0);
  transform-origin: bottom left;
}
ul,
li {
  list-style-type: disc;
}

.box {
  position: relative;
  max-width: 69%;
  margin: auto;
  background-color: #f6f0e6;
}

.box::before,
.box::after {
  display: block;
  content: '';
  position: absolute;
  width: 162px;
  height: 162px;
  border: solid 1px var(--warning-color);
  border-radius: 50%;
}

.has-side-circule {
  position: relative;
  z-index: 1;
}

.has-side-circule::after {
  display: block;
  content: '';
  position: absolute;
  width: 162px;
  height: 162px;
  border: solid 1px var(--warning-color);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: calc(-162px / 2);
}

.box::before {
  bottom: -70px;
  left: -115px;
}

.box::after {
  right: -115px;
  top: -70px;
}

.has-side-background::after {
  display: block;
  content: '';
  width: 407px;
  height: 100%;
  background-image: url('../larg-side-bg.png');
  background-position: right;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  margin-left: -35%;
  left: 25%;
}


@media screen and (min-width:1023px) and (max-width:1920px) {
  footer .container {
    max-width: 88% !important;
    justify-content: space-between !important;
  }

  .hero-title {
    letter-spacing: 8px;
    width: 70%;
  }

  .has-ciecule::before {
    margin-left: -7vw;
    width: 162px;
    height: 162px;
  }

  .box::before,
  .box::after {
    width: 100px;
    height: 100px;

  }

  .box::before {
    bottom: -45px;
    left: -70px;
  }

  .box::after {
    right: -70px;
    top: -45px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination {
  color: white;
}

.swiper-button-next,
.swiper-button-prev {
  width: 57px;
  top: 94%;
  left: 75%;
}

.swiper-button-next {
  left: 85%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}

.swiper-pagination-bullet {
  /* background-color: white; */
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet-active {
  background-color: var(--warning-color) !important;
}

.mySwiper {
  height: 480px;
}

.swiper-wrapper {
  height: 400px;
}

.swiper-slide:first-of-type {
  width: 83px !important;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: 30%;
}

@media screen and (max-width:1366px) {
  .has-ciecule::before {
    margin-left: -10vw;
  }

  .fs-20-mobile {
    font-size: 20px !important;
  }
}

@media screen and (max-width:1023px) {

  .swiper-button-next,
  .swiper-button-prev {
    width: 22px;
  }

  .swiper-slide:first-of-type {
    display: none;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 50% !important;
  }

  .swiper-pagination-bullet {
    /* background-color: white; */
    width: 10px !important;
    height: 10px !important;
  }

  .swiper-button-prev {
    left: 75%;
  }

  .contact span.has-text-weight-bold {
    display: block;
  }

  .contact .block-on-mobile {
    display: block;
    height: 25px;
  }

  .card-content {
    height: 210px;
  }

  .has-side-background::after {
    display: none;
  }

  ul {
    width: 75%;
  }

  .card-content {
    padding: 30px 28px !important;
  }

  .is-reverse-on-mobile {
    display: flex;
    flex-direction: column-reverse;
  }

  .pt-0-mobile {
    padding-top: 0 !important;
  }

  .mt-0-mobile {
    margin-top: 0 !important;
  }

  .pb-0-mobile {
    padding-bottom: 0 !important;
  }

  .mb-0-mobile {
    margin-bottom: 0 !important;
  }

  .my-0-mobile {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }

  .py-0-mobile {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }

  .pt-55-mobile {
    padding: 55px !important;
  }

  .ml-0-mobile {
    margin-left: 0 !important;
  }

  .mt-46-mobile {
    margin-top: 46px !important;
  }

  .last-title {
    margin-top: 50px;
  }

  .mb-68-mobile {
    margin-bottom: 68px !important;
  }

  .nav-custom-item {
    position: relative;
    left: 26vw;
  }

  .navbar {
    padding-right: 24px !important;
    padding-left: 24px !important;
  }

  .box {
    max-width: 100%;
    padding-top: 80px !important;
    padding-bottom: 150px !important;
  }

  .box::before,
  .box::after {
    width: 70px;
    height: 70px;
  }

  .box::before {
    bottom: -25px;
    left: -50px;
  }

  .box::after {
    right: -50px;
    top: -25px;
  }

  .has-side-circule::after {
    display: none;
  }

  .img-has-border::after {
    width: 83vw;
  }

  .img-icon::after {
    width: 76px;
    height: 65px;
  }

  .has-ciecule::before {
    display: none;
  }

  #lblCartCount {
    text-align: center;
    padding: 0;
    font-size: 12px !important;
    margin-left: 14px;
    margin-top: -14px;
    margin-bottom: 0;
    height: 18px !important;
    width: 18px !important;
  }

  .hero-img {
    padding-left: 10px;
    padding-right: 10px;
  }

  .hidden-on-mobile {
    display: none !important;
  }

  .pt-0-mobile {
    padding-top: 0 !important;
  }

  .horo-title {
    width: 100%;
    padding-left: 31px;
    padding-right: 40px;
  }

  .img-icon {
    background-image: url('../bg-moble.png');
    width: 107px;
    top: calc(-107px / 2);
    height: 107px;
  }

  .img-mobile {
    width: 430px;
    height: 295px;
    object-fit: cover;
  }

  .fs-24-mobile {
    font-size: 24px !important;
  }
}

.lh-30 {
  line-height: 30px;
}

.r-33 {
  position: relative;
  bottom: 33px;
}

@media screen and (min-width:1366px) {
  .box {
    width: 63%;
  }

  footer>div.container {
    max-width: 69% !important;
    justify-content: space-between !important;
  }
}
/* Add this CSS for the modal */
.modal {
  display: none;
  transition: all 200ms ease-in-out;
  opacity: 0;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #a5a997b6;
  z-index: 100;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  transition: all 200ms ease-in-out;
  max-width: 40%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .modal-content {
    max-width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 480px) {
  .modal-content {
    width: 100%;
  }
}